@import "tailwindcss";
@import "uniwind";

@import "heroui-native/styles";

@theme {
  --text-x: 11px;
  --text-xxs: 9px;

  --font-inter-thin: Inter-Thin;
  --font-inter-light: Inter-Light;
  --font-inter-regular: Inter-Regular;
  --font-inter-semibold: Inter-SemiBold;
  --font-inter-bold: Inter-Bold;

  --font-sf-pro: SF-Pro;

  /* --default-font-family: SF-Pro; */

  --color-primary: #369fc6;
  --color-secondary: #f0f1e1;
  --color-yellow: #d7a11b;
  --color-green: #06812f;
  --color-gray: #737373;
}

@layer base {
  Text {
    /* font-family: SF-Pro; */
  }
}

@source "../node_modules/heroui-native/lib";
